<!DOCTYPE html>
<html lang="zh_TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script>
    <!-- <link rel="stylesheet" href="./css/reset.css"> -->
    <!-- <link rel="stylesheet" href="./css/all.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <title>便當調度紀錄-bata_2.0</title>
</head>
<body style="min-width:300px;max-width:500px;">
    <h1>便當調度紀錄</h1>
    <div id="App">


        <div class="btn-group mb-2" role="group" aria-label="Basic radio toggle button group">
            
            <!-- template-失敗 v-model出問題
            <template v-for="(i,k) in page_list">
                <input type="radio" class="btn-check" name="pageradio" :id="'pageradio'+(i)" checked="" 
                 :v-model="page" :value="i">
                <label class="btn btn-outline-primary" :for="'pageradio'+(i)">{{i}}</label>
            </template> -->

            <input type="radio" class="btn-check" name="pageradio" id="pageradio1" checked 
            value="輸入頁面" v-model="page">
            <label class="btn btn-outline-primary" for="pageradio1">輸入頁面</label>

            <input type="radio" class="btn-check" name="pageradio" id="pageradio2"  
            value="統計頁面" v-model="page" @click="ttonclick">
            <label class="btn btn-outline-primary" for="pageradio2">統計頁面</label>
            
            <input type="radio" class="btn-check" name="pageradio" id="pageradio3"  
            value="固定資料" v-model="page" @click="load_person">
            <label class="btn btn-outline-primary" for="pageradio3">固定資料</label>
        </div>
        <div class="border border-primary " style="width:100vw">
            <div v-if="page=='輸入頁面'">
                <div class="btn-group mb-2" role="group" aria-label="Basic radio toggle button group">
                    <template v-for="(i,k) in type">
                        <input type="radio" class="btn-check" name="ioradio" :id="'ioradio-'+(i)"
                        :value="i" v-model="input.io">
                        <label class="btn btn-outline-primary" :for="'ioradio-'+(i)">{{i}}</label>
                    </template>
                    <input type="radio" class="mx-1,btn-check" name="ioradio" id="'ioradio-s'"
                        value="其它" v-model="input.io">
                        <label class="btn btn-outline-success" for="'ioradio-s'">其它(售出)</label>
                </div>
                <br>
                <div class="d-flex justify-content-center flex-wrap">
                    
                    <div class="col-12 d-flex justify-content-around align-items-center">
                        <!-- <div class="col-3"> -->
                        <div class="col-3">
                            <h3>品項</h3>
                            <button @click="save">記錄</button>
                        </div>
                        <div class="btn-group mb-2 col-8" role="group" aria-label="Basic radio toggle button group">
                            <template v-for="i in 5">
                                <input type="radio" class="btn-check" name="preset_quantity" :id="'preset_quantity-'+(i)"
                                :value="i" v-model="preset_quantity">
                                <label class="btn btn-outline-primary" :for="'preset_quantity-'+(i)"> x{{i}} </label>
                            </template>
                        </div>
                    </div>
                    <div class="col-12 d-flex flex-wrap" style="margin:auto">
                        <div v-for="(item,index) in product" class="col-6 py-2 border-start border-end border-info">
                            <input class="mx-3" type="checkbox" name="select_menu" :value="index"
                            :id="'select_menu_'+index" v-model="select_menu" @click="set_item_quanity(index)" >{{index}}
                            <br>
                            <!-- <input class="col-8 mx-3"  :name="'num'+index" :id="'num'+index" :value="index" -->
                            <input class="col-8 mx-3"  :name="'num'+index" :id="'num'+index" v-model="selected_data[index].quanity"
                            v-if="select_menu.includes(index) && selected_data[index].quanity " > 
                        </div>
                    </div>
                    <button @click="save">記錄</button>
                </div>
                <br>
                
            </div>
            <div v-if="page=='統計頁面'">
                <div>本日紀綠 {{renew}}</div>
                <div v-for="(data,index) in saveData" mb-4>
                    <h3>{{data.type}}</h3>
                    {{data.time}}
                    <div >
                        <ul>
                            <template v-for="(item,key) in data">
                                <li class="my-1"  v-if="!['time','type','subtotal','SbTq'].includes(key)">
    
                                    <span>
                                        {{key}} : ${{item.price}} *{{item.quanity}}  = {{item.price*item.quanity}}</li>
                            </template>
                                </span>
                        </ul>
                    </div>
                    <div class="d-flex justify-content-between"> 
                        <span class="m-0">
                            <span>小計: </span><span v-if="['調出','剩餘'].includes(data.type)">-</span> {{data.subtotal}}  </span>
                        </span>
                        <span class="m-0 p-0">
                            <button class="mx-3" v-if="data.type=='調入'" @click="getCopy(index)">回報複製</button>
                            <button class="mx-3" @click="delSave(index)">刪除</button>
                        </span>
                    </div>
                    <br>
                </div>
                <!-- <input id="copArea"> -->
                <button @click="cat_total()">計算總額</button>
                <button @click="cat_other()">其它加總</button>
                <div class="ps-3" v-if="showTotal==1">
                    <div class="h5 mb-0 mt-2" v-if="today">
                        {{today}} <span v-if="spot" class="text-primary h4"> {{spot}}</span>
                    </div>
                    <div class="h5 mb-1 text-danger">
                        &ensp;&ensp;&ensp;總計:{{total}}
                    </div>
                    <div v-if="id_5" class="mb-2">帳號末5碼:{{id_5}}</div>
                    <div v-for="(i,k) in total_price">
                        {{k}}:{{i}}
                    </div>
                    <div v-for="(i,k) in total_project">
                        {{k}}:{{i}}
                    </div>

                </div>
                <div class="ps-3" v-if="otherTotal==1">
                    <div class="h5 mb-0 mt-2" v-if="today">
                        {{today}} <span v-if="spot" class="text-primary h4"> {{spot}}</span>
                    </div>
                    <div class="h5 mb-1 text-danger">
                        &ensp;&ensp;&ensp;總計:{{total}}
                    </div>
                    <div v-if="id_5" class="mb-2">帳號末5碼:{{id_5}}</div>
                    <div v-for="(i,k) in total_other">
                        {{k}}:{{i}}
                    </div>
                </div>
            </div>
            <div v-if="page=='固定資料'">
                <div class="form-floating" class="mb-2">
                    <input type="text" class="form-control" id="spot" placeholder="站點"  v-model="spot">
                    <label for="spot">請輸入站點</label>
                </div>
                <div class="form-floating" class="mb-2">
                    <input type="number" class="form-control" id="id_5" placeholder="帳號末5碼"  v-model="id_5">
                    <label for="id_5">帳號末5碼</label>
                </div>
                <button @click="save_person">記錄</button>


            </div>
        </div>
    </div>



</body>
</html>
<script src="./gcvue.js"></script>