<!DOCTYPE html>
<html lang="zh_TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script>
    <!-- <link rel="stylesheet" href="./css/reset.css"> -->
    <!-- <link rel="stylesheet" href="./css/all.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <title>便當調度紀錄-bata_1.5</title>
</head>
<body>
    <h1>便當調度紀錄</h1>
    <div id="App">


        <div class="btn-group mb-2" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="pageradio" id="pageradio1" checked 
            value="輸入頁面" v-model="page">
            <label class="btn btn-outline-primary" for="pageradio1">輸入頁面</label>

            <input type="radio" class="btn-check" name="pageradio" id="pageradio2"  
            value="統計頁面" v-model="page" @click="ttonclick">
            <label class="btn btn-outline-primary" for="pageradio2">統計頁面</label>
        </div>
        <div class="border border-primary">
            <div v-if="page=='輸入頁面'">

                <div class="btn-group mb-2" role="group" aria-label="Basic radio toggle button group">
                    <!-- <inputtype v-for="(t,i) in type">
                    </inputtype> -->
                
                    <input type="radio" class="btn-check" name="ioradio" id="ioradio-s"
                    value="到貨" v-model="input.io">
                    <label class="btn btn-outline-primary" for="ioradio-s">到貨</label>
                    
                    <input type="radio" class="btn-check" name="ioradio" id="ioradio-i" checked 
                    value="調入" v-model="input.io">
                    <label class="btn btn-outline-primary" for="ioradio-i">調入</label>
     
                    <input type="radio" class="btn-check" name="ioradio" id="ioradio-o"  
                    value="調出" v-model="input.io">
                    <label class="btn btn-outline-primary" for="ioradio-o">調出</label>
                    
                    <input type="radio" class="btn-check" name="ioradio" id="ioradio-l"  
                    value="剩餘" v-model="input.io">
                    <label class="btn btn-outline-primary" for="ioradio-l">剩餘</label>
                </div>
                <br>
                <div>
                    <h3>品項</h3>
                    <div v-for="(item,index) in product" class="mb-2">
                        <input type="checkbox" name="select_menu" :value="index"
                        :id="'selec_menu_'+index" v-model="select_menu">{{index}}
                        <!-- :id="'selec_menu_'+index" @click.once="add_selected(index,item)" v-model="select_menu">{{index}} -->
                            <input type="number" :name="'num'+index" :id="'num'+index" v-model="selected_data[index].quanity"
                            v-if="select_menu.includes(index) && selected_data[index].quanity " > 
                            <!-- {{selected_data[index].quanity}} -->
                    </div>
                </div>
                <br>
                <button @click="save">記錄</button>
            </div>
            <div v-if="page=='統計頁面'">
                <div>本日紀綠 {{renew}}</div>
                <div v-for="(data,index) in saveData" mb-4>
                    <h3>{{data.type}}</h3>
                    {{data.time}}
                    <div v-for="(item,key) in data">
                        <ul>
                            <li v-if="!['time','type','subtotal'].includes(key)">
                                <span>
                                    {{key}} : ${{item.price}} *{{item.quanity}}  = {{item.price*item.quanity}}</li>
                                </span>
                        </ul>
                    </div>
                    <div>
                        <span>小計: </span><span v-if="['調出','剩餘'].includes(data.type)">{{data.type}}-</span>{{data.subtotal}}  </span>
                        <button @click="delSave(index)">刪除</button>
                    </div>
                    <br>
                </div>
                <button @click="cat_total()">計算總額</button>
                總計:{{total}} <br>
                <div v-for="(i,k) in price">
                    {{k}}:{{i}} <br>
                </div>
            </div>
        </div>
    </div>



</body>
</html>
<script src="./gcvue.js"></script>