<!DOCTYPE html>
<html lang="zh_TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script>
    <!-- <link rel="stylesheet" href="./css/reset.css"> -->
    <!-- <link rel="stylesheet" href="./css/all.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script> -->

    <title>便當調度紀錄-bata_1.0</title>
</head>
<body>
    <h1>便當調度紀錄</h1>
    <div id="App">


        <div class="btn-group mb-2" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="pageradio" id="pageradio1" checked 
            value="輸入頁面" v-model="page">
            <label class="btn btn-outline-primary" for="pageradio1">輸入頁面</label>

            <input type="radio" class="btn-check" name="pageradio" id="pageradio2"  
            value="統計頁面" v-model="page" @click="ttonclick">
            <label class="btn btn-outline-primary" for="pageradio2">統計頁面</label>
        </div>
        <div class="border border-primary">
            <div v-if="page=='輸入頁面'">

                <div class="btn-group mb-2" role="group" aria-label="Basic radio toggle button group">
                    
                    <input type="radio" class="btn-check" name="ioradio" id="ioradio-s"
                    value="到貨" v-model="input.io">
                    <label class="btn btn-outline-primary" for="ioradio-s">到貨</label>
                    
                    <input type="radio" class="btn-check" name="ioradio" id="ioradio-i" checked 
                    value="調入" v-model="input.io">
                    <label class="btn btn-outline-primary" for="ioradio-i">調入</label>
        
                    <input type="radio" class="btn-check" name="ioradio" id="ioradio-o"  
                    value="調出" v-model="input.io">
                    <label class="btn btn-outline-primary" for="ioradio-o">調出</label>
                    
                    <input type="radio" class="btn-check" name="ioradio" id="ioradio-l"  
                    value="剩餘" v-model="input.io">
                    <label class="btn btn-outline-primary" for="ioradio-l">剩餘</label>


                </div>
                <br>
                <div>
                    <h3>品項</h3>
                    <div v-for="(item,index) in product" class="mb-2">
                        <input type="checkbox" name="select_menu" :value="index"
                        :id="'selec_menu_'+index" @click.once="add_selected(index,item)" v-model="select_menu">{{index}}
                            <input type="number" :name="'num'+index" :id="'num'+index" v-model="selected_data[index].quanity"
                            v-if="select_menu.includes(index) && selected_data[index].quanity " > 
                            <!-- {{selected_data[index].quanity}} -->
                    </div>
                </div>
                <br>
                <button @click="save">記錄</button>
            </div>
            <div v-if="page=='統計頁面'">
                <div>本日紀綠 {{renew}}</div>
                <div v-for="(data,index) in saveData" mb-4>
                    <h3>{{data.type}}</h3>
                    {{data.time}}
                    <div v-for="(item,key) in data">
                        <ul>
                            <li v-if="!['time','type','subtotal'].includes(key)">
                                <span>
                                    {{key}} : ${{item.price}} *{{item.quanity}}  = {{item.price*item.quanity}}</li>
                                </span>
                        </ul>
                    </div>
                    <div>
                        <span>小計: </span><span v-if="['調出','剩餘'].includes(data.type)">{{data.type}}-</span>{{data.subtotal}}  </span>
                        <button @click="delSave(index)">刪除</button>
                    </div>
                    <br>
                </div>
                <button @click="cat_total()">計算總額</button>
                總計:{{total}}
            </div>
        </div>
    </div>



</body>
</html>
<script>
const App=Vue.createApp({
    data(){
        return{
            page:"輸入頁面",
            select_menu:[],
            ttt:{},
            renew:"",
            product:{
                雞肉:  {name:"雞肉",price:90 },
                雞腿:  {name:"雞腿",price:100 },
                排骨:  {name:"排骨",price:100 },
                瓜仔肉:{name:"瓜仔肉",price:90},
                左宗棠雞丁:{name:"左宗棠雞丁",price:100},
                豬腳:{name:"豬腳",price:110},
                雙拼:{name:"雙拼",price:110},
                打拋豬:{name:"打拋豬",price:110},
                烤肉:{name:"烤肉",price:90},
                舒肥雞:{name:"舒肥雞",price:100},
                赤燒肉:{name:"赤燒肉",price:90},
            },
            // selected_data:{},
            input:{
                io:"調入",
            }
        };
    },
    methods:{
        add_selected(key,item){
            this.selected_data[key].quanity=1;
        },
        getSaveData(){
            // let saveData=[];
            let saveData=[];
            if(localStorage.convenientSchedule){
                saveData=JSON.parse(localStorage.convenientSchedule);
            }
            return saveData;
        },
        chkSaveData(saveArr,nowTime){
            let delTime=new Date(nowTime.getFullYear(),nowTime.getMonth(),nowTime.getDate());
            // console.log(saveArr);
            let delArr=[]
            saveArr.forEach((od,i)=>{
                if(Date.parse(od.time)<Date.parse(delTime)){
                // if(Date.parse(od.time)<Date.parse('2022-06-09T15:33:22.223Z')){
                    delArr.push(i);
                }
            });
            console.log(delArr);
            let k=delArr.length;
            for(i=0;i<k;i++){
               let maxSite=Math.max(...delArr);
               saveArr.splice(maxSite,1);
               let t=delArr.indexOf(maxSite);
               delArr.splice(t,1)
           };
           return saveArr;
        },
        save(){
            let newData={};
            let subtotal=0;
            newData.type=this.input.io;
            this.select_menu.forEach(pd=>{
                newData[pd]=this.selected_data[pd];
                subtotal+= newData[pd].price * newData[pd].quanity;
            });
            newData.subtotal=subtotal;
            let nowTime=new Date();
            
            newData.time=nowTime;
            // App.$set(this,'saveData',this.getSaveData());
            this.saveData=this.getSaveData();
            this.saveData.push(newData);
            this.saveData=this.chkSaveData(this.saveData,nowTime);
            this.select_menu=[];
            localStorage.convenientSchedule=JSON.stringify(this.saveData);
        },
        ttonclick(){
            let nowTime=new Date();
            this.saveData=this.getSaveData();
            console.log(this.saveData);
            this.saveData=this.chkSaveData(this.saveData,nowTime)
            localStorage.convenientSchedule=JSON.stringify(this.saveData);
        },
        delSave(i){
            //刪除單筆資料
            this.renew="更新中";
            this.saveData.splice(i,1);
            this.saveData=this.saveData.splice(0,100);
            this.total="";
            this.renew="";
            localStorage.convenientSchedule=JSON.stringify(this.saveData);
        },
        cat_total(){
            this.total=0;
            this.saveData.forEach(i=>{
                switch (i.type){
                    case "調入"||"到貨":
                        this.total+=i.subtotal;
                        break;
                    case "調出"||"剩餘":
                        this.total-=i.subtotal;
                        break;
                    default :
                    break;
                }
            });
            this.renew="更新中";
            console.log(this.total);
            this.renew="";
        },
    },
    beforeMount(){
        this.selected_data=JSON.parse(JSON.stringify(this.product));
    }
})
App.mount('#App')
</script>